/* {[The file is published on the basis of YetiForce Public License 3.0 that can be found in the following directory: licenses/LicenseEN.txt or yetiforce.com]} */

html, body {
	height: 100%;
	width: 100%;
	display: block;
	background: #fff;
	padding: 0 !important;
}

.bodyContainer {
	background-color: #eee;

}

img {
	max-width: 100%
}

.mainPage {
	height: 100%;
	position: relative;
	left: 0;
	right: 0;
	margin-left: 50px;
	background: #fff;
	overflow-y: auto;
}

.mainBody {
	background: #fff;
	position: relative;
	height: 100%;
	top: 0;
	left: 0px;
	z-index: 1000;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.bodyContent {
	position: relative;
	padding-top: 50px;
	overflow-x: hidden;
	width: 100%;
	background: #fff;
	padding-bottom: 33px;

}

@media only screen and (max-width: 768px) {
	.bodyContent {
		padding-left: 10px;
	}

	.mainPage {
		margin-left: 0px;
	}
}

hr {
	margin-top: 10px;
	margin-bottom: 10px;
}

.c-card {
  &__header {
    background-color: #f7f7f7 !important;
    cursor: pointer;
    .btn-link {
      color: #006cdf;
    }
  }
  &__icon-right {
    display: none;
  }
  &__icon-down {
    display: inline;
  }
  &__accordion {
    background-color: #f7f7f7 !important;
  }
}

.collapsed {
  .c-card {
    &__icon-right {
      display: inline !important;
    }
    &__icon-down {
      display: none !important;
    }
  }
}

.c-nav {
  border-bottom: 1px solid #dee2e6;
  &__item {
    margin-bottom: -1px;
  }

  &__link {
    border: 1px solid transparent !important;
    border-top-left-radius: 0.25rem !important;
    border-top-right-radius: 0.25rem !important;
    color: #006cdf !important;
    &:hover {
      color: #004793 !important;
      border: 1px solid #dee2e6 !important;
    }
  }

  &__link.active {
    background-color: #f8f9fa !important;
    color: #495057 !important;
  }
}

.hideBlock.show {
  display: flex !important;
}
.select2-selection--single {
  height: auto !important;
  .select2-selection__rendered {
    line-height: 40px !important;
  }
  .select2-selection__arrow {
    top: 7px !important;
  }
}

.select2-selection--multiple {
  height: auto !important;
  .select2-selection__rendered {
    line-height: 28px !important;
  }
}
.form-control:focus {
  box-shadow: none !important;
}
.dropdown-menu {
  opacity: 1 !important;
  transform: none !important;
}
