/* {[The file is published on the basis of YetiForce Public License 3.0 that can be found in the following directory: licenses/LicenseEN.txt or yetiforce.com]} */

html,
body {
  height: 100%;
  width: 100%;
  display: block;
  background: #fff;
}
.mainContent,
#page,
.mainContainer {
  height: 100%;
}

.bodyContainer {
  background-color: #eee;
  padding-top: $h-header;
  padding-bottom: $h-footer;
}

.mainPage {
  height: 100%;
  position: relative;
  left: 0;
  right: 0;
  margin-left: 50px;
  background: #fff;
  overflow-y: auto;
  overflow-x: hidden;
}

.mainBody {
  background: #fff;
  position: relative;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.bodyContent {
  position: relative;
  height: 100%;
  overflow-x: hidden;
  width: 100%;
  background: #fff;
}

img {
  max-width: 100%;
}
hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
  .bodyContainer {
    padding-bottom: $h-footer-mini;
  }
  .bodyContent {
    padding-left: 10px;
  }

  .mainPage {
    margin-left: 0px;
  }
}
