@media (min-width: 768px) {
	.modal-fullscreen:not(.bootbox),
	.bootbox.modal-fullscreen > .modal-dialog {
		top: 21px;
		right: 32px;
		left: 0;
		max-width: calc(100% - 50px);
		width: calc(100% - 50px);
		margin-left: 50px;
		margin-right: 0;
		min-height: calc(100% - 80px); // if not - nested modals will be cutted
	}
	.bootbox.modal-fullscreen {
		.modal-body {
			padding-bottom: 0;
		}
		.bootbox-body {
			margin-bottom: calculate-rem(-5px);
		}
		iframe.modal-iframe {
			height: calc(100vh - #{calculate-rem(229px)});
		}
	}
}
