RedirectMatch 403 (?i).*\.log$
<IfModule mod_autoindex.c>
	Options -Indexes -MultiViews
</IfModule>
<IfModule mod_headers.c>
	Header unset Server
	Header unset X-Powered-By
	<IfModule mod_env.c>
		SetEnv modHeadersAvailable true
	</IfModule>
</IfModule>
<ifModule ModSecurity.c>
	SecServerSignature ''
</ifModule>
<IfModule mod_dir.c>
	DirectoryIndex index.php
</IfModule>
