# dependencies COMPOSER
/vendor

# dependencies YARN
yarn-error.log
/node_modules/
/public_html/libraries/*

# IDEs and editors
/.buildpath
.c9/
.classpath
.project
*.launch
.settings/
*.sublime-workspace
.babelrc
.history