/* {[The file is published on the basis of YetiForce Public License 3.0 that can be found in the following directory: licenses/LicenseEN.txt or yetiforce.com]} */
@import "../../../../libraries/sass-material-colors/sass/_sass-material-colors.scss";
$h-header: 50px;
$h-footer: 33px;
$h-footer-mini: 17px;
$z-index-header: 1031;
$z-index-body: 1030;
$w-menu: 230px;
$w-menu-mini-state: 50px;
$w-menu-mobile: 200px;
