/* {[The file is published on the basis of YetiForce Public License 3.0 that can be found in the following directory: licenses/LicenseEN.txt or yetiforce.com]} */
@import "../../../../libraries/sass-material-colors/sass/_sass-material-colors.scss";
$h-header: 50px;
$h-footer: 33px;
$h-footer-mini: 17px;
$z-index-header: 1031;
$z-index-body: 1030;
$w-menu: 230px;
$w-menu-mini-state: 50px;
$w-menu-mobile: 200px;

//-------- progress bar --------//
$progress-dot-size: calc(100% - #{calculate-rem(6px)});
$progress-bg--active: material-color("deep-orange", "500");
$progress-bg--inactive: material-color("blue-grey", "200");
