/* {[The file is published on the basis of YetiForce Public License 5.0 that can be found in the following directory: licenses/LicenseEN.txt or yetiforce.com]} */

.Install_Install {
	.logo {
		max-height: 50px;
	}
	.container-fluid {
		margin: 20px;
	}
	.main-container {
		background: #fff;
		border: 1px solid #ddd;
		border-radius: 3px;
		box-shadow: 0 0 5px #ccc;
		min-height: 375px;
		margin: 10px;
	}
}
