/* {[The file is published on the basis of YetiForce Public License 3.0 that can be found in the following directory: licenses/LicenseEN.txt or yetiforce.com]} */

.listViewHeaders {
	text-transform: capitalize;
}

.listViewEntries {
	background: #fff;
	font-weight: 400 !important;
}

table tbody tr:hover td .actions span {
	opacity: 1;
}

.actions {
	.dropdown-menu {
		min-width: calculate-rem(123px) !important;
		top: -11px !important;
		left: 45px !important;
	}
}

table {
	&.listViewEntries td {
		vertical-align: middle !important;
	}

	&.dataTable.listViewEntries tbody td {
		padding: 3px 10px !important;
	}
}
