/* {[The file is published on the basis of YetiForce Public License 3.0 that can be found in the following directory: licenses/LicenseEN.txt or yetiforce.com]} */


.product{
    height: 300px;
    width: 400px;
    border: 1px #eeeeee solid;
}

.product-image-contener{
    width: 100px;
    height: 100px;
}

.product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;

    .product-no-image {
        background-color: grey;
    }
}

.add-to-cart{
    background-color: pink;
}
