/* {[The file is published on the basis of YetiForce Public License 3.0 that can be found in the following directory: licenses/LicenseEN.txt or yetiforce.com]} */

$borderColor: #eeeeee;

.product-container {
	background-color: #eee;
	padding: 12px;
}

.product-border-l {
	border-left: 1px $borderColor solid;
}

.product-border-r {
	border-right: 1px $borderColor solid;
}

.product-border-b {
	border-bottom: 1px $borderColor solid;
}

.product-border {
	border: 1px $borderColor solid;
}

.product-line {
	border-bottom: 1px $borderColor solid;
}

.product-category {
	background-color: white;
}

.shopping-cart {
	background-color: white;
	border: 1px $borderColor solid;
	padding: 5px;
}

.product-summary {
	background-color: white;
	border: 1px $borderColor solid;
	padding: 5px;
}

.product-shopping-cart {
	/*border-bottom: 1px $borderColor solid;*/
	background-color: white;
}

.fs-80 {
	font-size: 80%;
}

.fs-120 {
	font-size: 120%;
}

.product {
	width: 33%;
	border-right: 1px $borderColor solid;
	border-top: 1px $borderColor solid;
	background-color: white;
}

.product-image-contener img {
	width: 260px;
	height: 225px;
	padding: 5px;
}
.product-image-contener .product-no-image {
	width: 260px;
	height: 225px;
	padding: 5px;
	font-size: 6rem;
}
.product-shopping-cart-image-contener {
	width: 100px;
	height: 100px;
	border: 1px $borderColor solid;
	padding: 5px;
}

.product-no-image {
	width: 100%;
	height: 100%;
	color: #eeeeee;
}

.product-image {
	object-fit: cover;
}

.add-to-cart {
	background-color: pink;
}

.product-btn-buy {
	height: 48px;
	width: 300px;
}

.o-category {
  &__button-search {
    border-color: #cee2e6 !important;
    height: 2.33rem !important;
    font-size: 1rem !important;
    border-radius: 0.5rem;
  }
  &__input-search {
    background-image: none;
  }
}
.c-cart-quantity {
  &__btn-circle {
    border-radius: 100% !important;
    width: calc(1.5rem + 2px) !important;
    height: calc(1.5rem + 2px) !important;
    line-height: normal !important;
    font-family: initial !important;
    padding: 0px !important;
    min-width: 0px !important;
  }

  &__input {
    border-radius: 0.5rem !important;
    background-image: none;
  }
}
